# **TUGAS 2**


*   Carilah data yang bertipe numerik ( data klassifikasi)
*   Lakukan proses diskritisasi dengan equal width dan equal frequency
*   Lakukan proses diskritisasi dengan basis entropy



1.   **Pengertian**

        Diskritisasi yaitu proses mengubah data numerik menjadi data kategorikal 
2.   **Implementasi**
  *   Diskritisasi dengan Equal Width dan Equal Frequency 
      *   Equal width : dikritisasi yang membagi data numerik menjadi beberapa kelompok dengan lebar kelompok yang kurang lebih sama besar. 
      *   Equal frequency : dikritisasi yang membagi data numerik menjadi beberapa kelompok dengan jumlah anggota per kelompok yang kurang lebih sama besar.
  *   Diskritisasi dengan basis Entropy

       Entropy digunakan untuk menentukan yang manakah node yang akan
menjadi pemecah data latih berikutnya


**3. Implementasi Code**

In [2]:
import numpy as np 
import pandas as pd
url = 'https://raw.githubusercontent.com/normalitariyn/mydataset/main/IRIS.csv'
c=pd.read_csv(url)

In [3]:
c

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]



*   Equal Width

    Untuk menghitung equal width, dibutuhkan library pandas dengan menggunakan method "cut". Buat 3 label untuk mengkategorikan batas tiap ukuran petal dan sepal dengan menggunakan small, medium, large.

*sepal length*

In [32]:
# perhitungan atribut sepal length tanpa label

labels = ["small", "medium", "large"]
amount_of_binning = len(labels)
# melakukan binning dengan atribut lebar petal dalam cm (1.4)
binning_interval = pd.cut(c['sepal_length'],amount_of_binning,True).value_counts()
print(binning_interval)

(5.5, 6.7]      71
(4.296, 5.5]    59
(6.7, 7.9]      20
Name: sepal_length, dtype: int64

In [43]:
#perhitungan atribut lebar  

labels = ["small", "medium", "large"]
amount_of_binning = len(labels)
#melakukan binning dengan atribut lebar petal dalam cm (1.4)
binning_label = pd.cut(c['sepal_length'],amount_of_binning, True, labels)
sepal_binning = binning_label.value_counts()
print(sepal_binning)

medium    71
small     59
large     20
Name: sepal_length, dtype: int64

In [44]:
# menampilkan dataframe sepal_lenght
pd.concat((c["sepal_length"],binning_label), axis=1)

    sepal_length sepal_length
0            5.1        small
1            4.9        small
2            4.7        small
3            4.6        small
4            5.0        small
..           ...          ...
145          6.7       medium
146          6.3       medium
147          6.5       medium
148          6.2       medium
149          5.9       medium

[150 rows x 2 columns]

sepal width

In [45]:
# perhitungan atribut sepal width tanpa label

labels = ["small", "medium", "large"]
amount_of_binning = len(labels)
# melakukan binning dengan atribut lebar petal dalam cm (1.4)
binning_interval = pd.cut(c['sepal_width'],amount_of_binning,True).value_counts()
print(binning_interval)

(2.8, 3.6]      88
(1.998, 2.8]    47
(3.6, 4.4]      15
Name: sepal_width, dtype: int64

In [46]:
# perhitungan atribut sepal width label

labels = ["small", "medium", "large"]
amount_of_binning = len(labels)
#melakukan binning dengan atribut lebar petal dalam cm (1.4)
binning_label = pd.cut(c['sepal_width'],amount_of_binning, True, labels)
sepal_binning = binning_label.value_counts()
print(sepal_binning)

medium    88
small     47
large     15
Name: sepal_width, dtype: int64

In [47]:
# menampilkan dataframe sepal_width
pd.concat((c["sepal_width"],binning_label), axis=1)

    sepal_width sepal_width
0           3.5      medium
1           3.0      medium
2           3.2      medium
3           3.1      medium
4           3.6      medium
..          ...         ...
145         3.0      medium
146         2.5       small
147         3.0      medium
148         3.4      medium
149         3.0      medium

[150 rows x 2 columns]

*Petal Length*

In [48]:
# perhitungan atribut petal length tanpa label

labels = ["small", "medium", "large"]
amount_of_binning = len(labels)
# melakukan binning dengan atribut lebar petal dalam cm (1.4)
binning_interval = pd.cut(c['petal_length'],amount_of_binning,True).value_counts()
print(binning_interval)

(2.967, 4.933]    54
(0.994, 2.967]    50
(4.933, 6.9]      46
Name: petal_length, dtype: int64

In [57]:
# perhitungan atribut petal width label

labels = ["small", "medium", "large"]
amount_of_binning = len(labels)
#melakukan binning dengan atribut lebar petal dalam cm (1.4)
binning_label = pd.cut(c['petal_length'],amount_of_binning, True, labels)
l_petal_binning = binning_label.value_counts()
print(l_petal_binning)

medium    54
small     50
large     46
Name: petal_length, dtype: int64

In [54]:
# menampilkan dataframe petal_length
pd.concat((c["petal_length"],binning_label), axis=1)

     petal_length petal_width
0             1.4       small
1             1.4       small
2             1.3       small
3             1.5       small
4             1.4       small
..            ...         ...
145           5.2       large
146           5.0       large
147           5.2       large
148           5.4       large
149           5.1       large

[150 rows x 2 columns]

*Petal Width*

In [52]:
# perhitungan atribut petal width tanpa label

labels = ["small", "medium", "large"]
amount_of_binning = len(labels)
# melakukan binning dengan atribut lebar petal dalam cm (1.4)
binning_interval = pd.cut(c['petal_width'],amount_of_binning,True).value_counts()
print(binning_interval)

(0.9, 1.7]       54
(0.0976, 0.9]    50
(1.7, 2.5]       46
Name: petal_width, dtype: int64

In [56]:
# perhitungan atribut petal width label

labels = ["small", "medium", "large"]
amount_of_binning = len(labels)
#melakukan binning dengan atribut lebar petal dalam cm (1.4)
binning_label = pd.cut(c['petal_width'],amount_of_binning, True, labels)
w_petal_binning = binning_label.value_counts()
print(w_petal_binning)

medium    54
small     50
large     46
Name: petal_width, dtype: int64

In [55]:
# menampilkan dataframe petal_length
pd.concat((c["petal_width"],binning_label), axis=1)

    petal_width petal_width
0           0.2       small
1           0.2       small
2           0.2       small
3           0.2       small
4           0.2       small
..          ...         ...
145         2.3       large
146         1.9       large
147         2.0       large
148         2.3       large
149         1.8       large

[150 rows x 2 columns]



*   Equal Frequency

    Untuk menghitung equal frequency, dibutuhkan library pandas dengan menggunakan method "qcut".

*Sepal Length*

In [9]:
# perhitungan atribut sepal length tanpa label

labels = ["small", "medium", "large"]
amount_of_binning = len(labels)
# melakukan binning dengan atribut sepal length
binning_interval = pd.qcut(c['sepal_length'],amount_of_binning).value_counts()
print(binning_interval)

(5.4, 6.3]                   56
(4.2989999999999995, 5.4]    52
(6.3, 7.9]                   42
Name: sepal_length, dtype: int64

In [14]:
# perhitungan atribut sepal length dengan label

binning_label = pd.qcut(c['sepal_length'],amount_of_binning, labels)
l_sepal_binning = binning_label.value_counts()
print(l_sepal_binning)

medium    56
small     52
large     42
Name: sepal_length, dtype: int64

In [13]:
# menampilkan dataframe sepal length
pd.concat((c["sepal_length"],binning_label), axis=1)

    sepal_length sepal_length
0            5.1        small
1            4.9        small
2            4.7        small
3            4.6        small
4            5.0        small
..           ...          ...
145          6.7        large
146          6.3       medium
147          6.5        large
148          6.2       medium
149          5.9       medium

[150 rows x 2 columns]

*Sepal Width*

In [16]:
# perhitungan atribut sepal width tanpa label

labels = ["small", "medium", "large"]
amount_of_binning = len(labels)
# melakukan binning dengan atribut sepal length
binning_interval = pd.qcut(c['sepal_width'],amount_of_binning).value_counts()
print(binning_interval)

(1.999, 2.9]    57
(2.9, 3.2]      51
(3.2, 4.4]      42
Name: sepal_width, dtype: int64

In [15]:
# perhitungan atribut sepal  width dengan label

binning_label = pd.qcut(c['sepal_width'],amount_of_binning, labels)
w_sepal_binning = binning_label.value_counts()
print(w_sepal_binning)

small     57
medium    51
large     42
Name: sepal_width, dtype: int64

In [17]:
# menampilkan dataframe sepal width
pd.concat((c["sepal_width"],binning_label), axis=1)

    sepal_width sepal_width
0           3.5       large
1           3.0      medium
2           3.2      medium
3           3.1      medium
4           3.6       large
..          ...         ...
145         3.0      medium
146         2.5       small
147         3.0      medium
148         3.4       large
149         3.0      medium

[150 rows x 2 columns]

*Petal Length*

In [20]:
# perhitungan atribut petal length tanpa label

labels = ["small", "medium", "large"]
amount_of_binning = len(labels)
# melakukan binning dengan atribut sepal length
binning_interval = pd.qcut(c['petal_length'],amount_of_binning).value_counts()
print(binning_interval)

(2.633, 4.9]      54
(0.999, 2.633]    50
(4.9, 6.9]        46
Name: petal_length, dtype: int64

In [19]:
# perhitungan atribut petal length dengan label

binning_label = pd.qcut(c['petal_length'],amount_of_binning, labels)
l_petal_binning = binning_label.value_counts()
print(l_petal_binning)

medium    54
small     50
large     46
Name: petal_length, dtype: int64

In [21]:
# menampilkan dataframe petal length
pd.concat((c["petal_length"],binning_label), axis=1)

    petal_length petal_length
0            1.4        small
1            1.4        small
2            1.3        small
3            1.5        small
4            1.4        small
..           ...          ...
145          5.2        large
146          5.0        large
147          5.2        large
148          5.4        large
149          5.1        large

[150 rows x 2 columns]

*Petal Width*

In [22]:
# perhitungan atribut petal width tanpa label

labels = ["small", "medium", "large"]
amount_of_binning = len(labels)
# melakukan binning dengan atribut sepal length
binning_interval = pd.qcut(c['petal_width'],amount_of_binning).value_counts()
print(binning_interval)

(0.867, 1.6]      52
(0.099, 0.867]    50
(1.6, 2.5]        48
Name: petal_width, dtype: int64

In [24]:
# perhitungan atribut petal width dengan label

binning_label = pd.qcut(c['petal_width'],amount_of_binning, labels)
w_petal_binning = binning_label.value_counts()
print(w_petal_binning)

medium    52
small     50
large     48
Name: petal_width, dtype: int64

In [32]:
# menampilkan dataframe petal width
pd.concat((c["petal_width"],binning_label), axis=1)

    petal_width petal_width
0           0.2       small
1           0.2       small
2           0.2       small
3           0.2       small
4           0.2       small
..          ...         ...
145         2.3       large
146         1.9       large
147         2.0       large
148         2.3       large
149         1.8       large

[150 rows x 2 columns]